@charset "UTF-8";

td.location:before {
    content: '';
    display: block;
    text-align: center;
}
td.A1012110:before {
    content: "소양강";
}
td.A1003110:before {
    content: "충주";
}
td.A1006110:before {
    content: "횡성";
}
td.A1009710:before {
    content: "평화의댐";
}
td.A1022701:before {
    content: "한탄강홍수조절지";
}
td.A1021701:before {
    content: "군남홍수조절지";
}
td.A1010310:before {
    content: "화천";
}
td.A1010320:before {
    content: "춘천";
}
td.A1013310:before {
    content: "의암";
}
td.A1015310:before {
    content: "청평";
}
td.A1017310:before {
    content: "팔당";
}
td.A1004310:before {
    content: "괴산";
}
td.A1007601:before {
    content: "강천보";
}
td.A1007602:before {
    content: "여주보";
}
td.A1007603:before {
    content: "이포보";
}
td.A2001110:before {
    content: "안동";
}
td.A2002110:before {
    content: "임하";
}
td.A2015110:before {
    content: "합천";
}
td.A2018110:before {
    content: "남강";
}
td.A2021110:before {
    content: "밀양";
}
td.A2008101:before {
    content: "군위";
}



td.A2010101:before {
    content: "김천부항";
}
td.A2002111:before {
    content: "성덕";
}
td.A2012101:before {
    content: "보현산";
}
td.A2004101:before {
    content: "영주";
}
td.A2007601:before {
    content: "상주보";
}
td.A2009601:before {
    content: "낙단보";
}
td.A2009602:before {
    content: "구미보";
}
td.A2011601:before {
    content: "칠곡보";
}
td.A2011602:before {
    content: "강정고령보";
}
td.A2014601:before {
    content: "달성보";
}
td.A2014602:before {
    content: "합천창녕보";
}
td.A2017601:before {
    content: "창녕함안보";
}
td.A2022510:before {
    content: "낙동강하굿둑";
}
td.A3001110:before {
    content: "용담";
}
td.A3008110:before {
    content: "대청";
}
td.A3203110:before {
    content: "보령";
}
td.A3303110:before {
    content: "부안";
}
td.A3010601:before {
    content: "세종보";
}
td.A3012601:before {
    content: "공주보";
}
td.A3012602:before {
    content: "백제보";
}
td.A4001110:before {
    content: "섬진강";
}
td.A4007110:before {
    content: "주암(본)";
}
td.A5101110:before {
    content: "장흥";
}
td.A4104610:before {
    content: "주암(조)";
}
td.A5001701:before {
    content: "담양홍수조절지";
}
td.A5003701:before {
    content: "화순홍수조절지";
}
td.A5004601:before {
    content: "승촌보";
}
td.A5004602:before {
    content: "죽산보";
}
td.A1003611:before {
    content: "죽산보";
}








