@charset "UTF-8";
.overflow_hidden {
    overflow: hidden;
}

.align_left {
    text-align: left !important;
}

.align_right {
    text-align: right !important;
}

.align_center {
    text-align: center !important;
}

.none_margin_top {
    margin-top: 0 !important;
}

.none_padding_top {
    padding-top: 0 !important;
}

/* custom class */
.clear {
    clear: both !important;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.ellipsis01 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.ellipsis02 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

/**
 * tabs
 * 작성자 :
 */
.tabs {
    position: relative;
    width: 100%;
    height: 32px;
    margin-bottom: 26px;
}

.tabs li {
    float: left;
    position: relative;
    height: 32px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}

.tabs.col_02 li {
    width: 50%;
}

.tabs.col_03 li {
    width: 33.3%;
}

.tabs.col_04 li {
    width: 25%;
}

.tabs li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #8fa5b4;
    background: #fff;
    border: 1px solid #e4e5ec;
}

.tabs li.active {
    z-index: 50;

}

.tabs li.active a {
    color: #fff;
    background: #0081cb;
    border: 0;
}

select {
    display: inline-block;
    width: 100%;
    -webkit-appearance: none;
    outline: 0;
    border: #d1d3dd 1px solid;
    background: url('../../images/common/bg_select_arrow.gif') right 50% no-repeat;
    background-size: 20px;
    padding: 0 20px 0 5px;
    height: 25px;
    border-radius: 0;
    color: #aaa;
}

select.select_blue {
    border: #70b8e2 1px solid;
    color: #0081cb;
}

input[type="text"] {
    border: #d1d3dd 1px solid;
    height: 25px;
    padding: 0 5px;
    color: #aaa;
}

/* 버튼 */
.btn {
    display: inline-block;
    padding: 5px 6px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3rem;
    border: 1px solid #c9cbd9;
    border-radius: 2px;
}

.btn.btn_rect {
    border-radius: 0;
}

.btn_blue {
    color: #fff;
    background: #0081cb;
    border-color: transparent;
}

.btn_gray {
    color: #fff;
    background: #868686;
    border-color: transparent;
}

.btn.btn_blue_line {
    color: #0081cb;
    border: 1px solid #0081cb;
}

.btn.btn_small {
    padding: 3px 5px;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.btn.btn_midium {
    padding: 6px;
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.btn .sprite {
    margin-right: 4px;
    vertical-align: middle;
}

.btn .right_sprite {
    margin: 0 0 0 4px;
}

.btn_close {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.btn_wide_large {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ebecf3;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0 0 2px 2px;
}
