<!-- 리스트 페이징 -->
<div class="pagination_wrap">
	<ul class="pagination">
		<li><a class="first" href="#">처음으로</a></li>
		<li><a class="prev" href="#">이전</a></li>
		<li><a class="active" href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a class="next" href="#">다음</a></li>
		<li><a class="last" href="#">마지막으로</a></li>
	</ul>
</div> <!-- //리스트 페이징 -->