<div class="area_table" id="area_table">
	<div>
 		<div class="table table_border table_right" style="display: block;">
			<table class="worksTable scroll size01">
				<caption>댐의 댐수위, 방수로수위, 저수량, 저수율, 강우량, 유입량, 자체유입량, 총방류량, 빌잔빙류량, 여수로방류량, 우두보방류량, 비상방류, 보조여수로를 시간대별 현황을 보여줌</caption>
				<colgroup>
					<col width="120px" span="14">
				</colgroup>
				<thead>
				<tr>
					<th scope="col">일시</th>
					<th scope="col">댐수위<br>(EL.m)</th>
					<th scope="col">방수로수위<br>(EL.m)</th>
					<th scope="col">저수량<br>(백만m<sup>3</sup>)</th>
					<th scope="col">저수율<br>(%)</th>
					<th scope="col">강우량<br>(mm)</th>
					<th scope="col">유입량<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">자체<br>유입량<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">총방류량<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">발전<br>방류량<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">여수로<br>방류량<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">우두보<br>방류량<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">비상<br>방류<br>(m<sup>3</sup>/sec)</th>
					<th scope="col">보조<br>여수로<br>(m<sup>3</sup>/sec)</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row" class="bR0">
						10-28 04시50분
					</th>
					<td> 182.65</td>
					<td>77.92</td>
					<td> 1,869.327</td>
					<td>64.5</td>
					<td>0.000</td>
					<td>283.444</td>
					<td>283.444</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 04시40분
					</th>
					<td> 182.64</td>
					<td>77.92</td>
					<td> 1,868.817</td>
					<td>64.4</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>-283.444</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 04시30분
					</th>
					<td> 182.64</td>
					<td>77.92</td>
					<td> 1,868.817</td>
					<td>64.4</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>-283.444</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 04시20분
					</th>
					<td> 182.64</td>
					<td>77.92</td>
					<td> 1,868.817</td>
					<td>64.4</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>-283.444</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 04시10분
					</th>
					<td> 182.65</td>
					<td>77.93</td>
					<td> 1,869.327</td>
					<td>64.5</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 04시00분
					</th>
					<td> 182.65</td>
					<td>77.93</td>
					<td> 1,869.327</td>
					<td>64.5</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 03시50분
					</th>
					<td> 182.65</td>
					<td>77.93</td>
					<td> 1,869.327</td>
					<td>64.5</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 03시40분
					</th>
					<td> 182.65</td>
					<td>77.93</td>
					<td> 1,869.327</td>
					<td>64.5</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				<tr>
					<th scope="row" class="bR0">
						10-28 03시30분
					</th>
					<td> 182.65</td>
					<td>77.93</td>
					<td> 1,869.327</td>
					<td>64.5</td>
					<td>0.000</td>
					<td>283.444</td>
					<td>283.444</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
					<td>0.000</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>