<div class="area_box" >
	<div class="real_time_search_form">
		<ul class="search_form_list search_form_list_first">
			<li>
				<div class="select_label"><span>항목</span></div>
				<div class="select_area">
					<select class="select_blue _btn_realtime_dam_type" name="realtime_dam_type" style="width: 118px">
						<option value="Sub03SewageAll">총괄현황</option>
						<option value="Sub03Sewage">시설별현황</option>
					</select>
					<div class="infomation info1" style="display: inline-block;"><a href="#" class="btn_question"><span class="sprite sprite_common icon_round_question">정보</span></a>
						<a href="#" class="info">
							<p>※ K-water에서는 하수처리시설 방류수질의 투명성 및 신뢰성을 높이기 위하여 실시간 수질 TMS정보를 공개하고 있습니다.</p>
							<p>※공개대상은 수질TMS의 수질정보(COD,T-N, T-P, SS, PH)입니다.</p>
							<p>※수질연속측정장치 점검 및 고장시에는 “교정중＂이라는 문구가 나올 수 있습니다.</p>
						</a>
					</div>
				</div>
			</li>
		</ul>
		<div id="pannel_realtime">

		</div>
	</div>
</div>