<div class="area_box" >
	<div class="real_time_search_form">
		<ul class="search_form_list search_form_list_first">
			<li>
				<div class="select_label"><span>항목</span></div>
				<div class="select_area">
					<select class="select_blue _btn_realtime_dam_type" name="realtime_dam_type" style="width: 118px">
						<option value="Sub01Hydr">댐/보별자료(수문)</option>
						<option value="Sub01Rain">댐/보별자료(우량)</option>
						<option value="Sub01Vers">다목적댐 관리현황</option>
						<option value="Sub01Wate">용수댐 관리현황</option>
						<option value="Sub01Mult">다기능보 관리현황</option>
						<option value="Sub01Sihwa">시화호 수문자료</option>
						<option value="Sub01YongsuSupply">용수공급전망</option>
						<option value="Sub02Vers">다목적댐 수질정보</option>
						<option value="Sub02Mult">다기능보 수질정보</option>
					</select>
					<div class="infomation info1" style="display: inline-block;"><a href="#" class="btn_question"><span class="sprite sprite_common icon_round_question">정보</span></a>
						<a href="#" class="info">
							<p>※ 10분 및 시간자료는 실시간자료로서 홍수시 활용, 일자료는 용수관리(가뭄 등)에 활용합니다.</p>
							<p>※ 10분별 자료는 최대 15일, 시간별 자료는 최대 60일, 일자별 자료는 최대 365일 조회 가능합니다.</p>
							<p>※ 유입량 : 댐유역 및 댐의 외부에서 유입되는 유입량의 합</p>
							<p>※ 자체유입량 : 외부유입량이 없는 댐유역에서만 유출되는 유량</p>
							<p>※ 저수율 : 계획홍수위 기준 저수용량에 대한 저수율 적용</p>
						</a>
					</div>
					<div class="infomation info2"><a href="#" class="btn_question"><span class="sprite sprite_common icon_round_question">정보</span></a>
						<a href="#" class="info">
							<p>※ 시간우량(hourly rainfall) : 단위 시간당 강우량</p>
							<p>※ 누적우량(cumulative rainfall) : 금년 누적 강우량</p>
						</a>
					</div>
					<div class="infomation info7"><a href="#" class="btn_question"><span class="sprite sprite_common icon_round_question">정보</span></a>
						<a href="#" class="info">
							<p>※ 정상용수공급 환원기준 : 용수감량 이후 안정적인 용수공급능력 유지를 위해 확보가 필요한 저수량</p>
						</a>
					</div>
				</div>
			</li>
		</ul>
		<div id="pannel_realtime">

		</div>
	</div>
</div>