<ul class="search_form_list">
	<li>
		<div class="select_label"><span>구분</span></div>
		<div class="select_area">
			<select style="width: 99px;margin-right: 12px; display: block;" class="Sub02WinfoWeekListsArea _select_main">
				<option value="A001" selected="selected">광역</option>
				<option value="A002">지방</option>
			</select>

			<div class="_select_sub" style="display: inline-block;">
				<select style="width: 99px" class="Sub02WinfoWeekListsKind _select_main">
					<option value="K001" selected="selected">수돗물</option>
					<option value="K002">공업용침전수</option>
					<!--option value="K003">상수원수</option-->
				</select>
				<select style="width: 99px" class="Sub02WinfoWeekListsJungsu1 _select_sub">
					<option value="387" selected="selected">고령</option>
					<option value="367">고산</option>
					<option value="319">고양</option>
					<option value="357">공주</option>
					<option value="337">구미</option>
					<option value="332">구천</option>
					<option value="317">덕소</option>
					<option value="389">덕정</option>
					<option value="385">동화</option>
					<option value="381">밀양</option>
					<option value="335">반송</option>
					<option value="311">반월</option>
					<option value="368">별량</option>
					<option value="359">보령</option>
					<option value="360">부안</option>
					<option value="333">사천</option>
					<option value="363">산성</option>
					<option value="351">석성</option>
					<option value="313">성남</option>
					<option value="356">송전</option>
					<option value="316">수지</option>
					<option value="314">시흥</option>
					<option value="354">아산</option>
					<option value="382">양산</option>
					<option value="312">와부</option>
					<option value="340">운문</option>
					<option value="315">일산</option>
					<option value="339">자인</option>
					<option value="355">천안</option>
					<option value="353">청주</option>
					<option value="380">충주</option>
					<option value="386">평림</option>
					<option value="378">학야</option>
					<option value="364">화순</option>
					<option value="371">황지</option>
					<option value="331">연초</option>
					<option value="372">금산</option>
				</select>

				<select style="width: 99px; display:none;" class="Sub02WinfoWeekListsJungsu2 _select_sub">
					<option value="387">고령</option>
					<option value="337">구미</option>
					<option value="365">군산</option>
					<option value="366">대불</option>
					<option value="314">시흥</option>
					<option value="354">아산</option>
					<option value="336">온산</option>
					<option value="355">천안</option>
					<option value="353">청주</option>
					<option value="388">파주</option>
				</select>


				<select style="width: 99px; display:none;" class="Sub02WinfoWeekListsJungsu4 _select_sub">
					<option value="gp10">감포</option>
					<option value="2011c90">고령광역</option>
					<option value="1001c20">광동댐</option>
					<option value="2503c10">구천댐</option>
					<option value="2011c20">낙동강광역</option>
					<option value="2501c20">남강</option>
					<option value="1302c60">달방댐</option>
					<option value="2201c10">대암댐</option>
					<option value="3008c10">대청광역</option>
					<option value="1018c20">덕소</option>
					<option value="4005c10">동화광역</option>
					<option value="2021c70">밀양</option>
					<option value="3203c40">보령광역</option>
					<option value="2020c40">본포</option>
					<option value="3303c10">부안광역</option>
					<option value="2101c60">부조</option>
					<option value="2201c20">사연댐</option>
					<option value="no1">섬진강</option>
					<option value="1017c20">수도권1</option>
					<option value="1017c10">수도권2</option>
					<option value="1018c05">수도권3</option>
					<option value="no2">수어댐</option>
					<option value="2101c50">안계댐</option>
					<option value="2021c60">양산</option>
					<option value="2503c20">연초댐</option>
					<option value="2012c05">영천댐1</option>
					<option value="2012c15">영천댐2</option>
					<option value="2012c10">영천댐3</option>
					<option value="6002c30">용담</option>
					<option value="2001c15">운문</option>
					<option value="2022c20">원동</option>
					<option value="1006c20">원주권광역</option>
					<option value="4104c20">이사천</option>
					<option value="2002c50">임하</option>
					<option value="1018c65">자양</option>
					<option value="2021c10">자인</option>
					<option value="5101c40">장흥댐</option>
					<option value="4008c10">주암광역</option>
					<option value="1003c70">충주</option>
					<option value="3014c10">칠보</option>
					<option value="20080101">평림댐</option>
					<option value="3008c30">현도</option>
				</select>
			</div>
			<div class="_select_sub" style="display: none;">
				<select style="width: 99px" class="Sub02WinfoWeekListsKind _select_main">
					<option value="K001" selected="selected">수돗물</option>
					<!--option value="K003">상수원수</option-->
				</select>
				<select style="width: 99px" class="Sub02WinfoWeekListsJungsu3 _select_sub">
					<option value="47900003">감천</option>
					<option value="47900007">개포</option>
					<option value="47830001">고령</option>
					<option value="48240001">곤명</option>
					<option value="46900005">관매</option>
					<option value="41610001">광주제1</option>
					<option value="41610002">광주제2</option>
					<option value="41610003">광주제3</option>
					<option value="46890008">금당</option>
					<option value="46890004">금일</option>
					<option value="46900003">남동</option>
					<option value="46890009">넙도</option>
					<option value="46170001">다시</option>
					<option value="43800001">단양</option>
					<option value="46890001">대야</option>
					<option value="41250001">동두천</option>
					<option value="46900001">동외</option>
					<option value="41480001">문산</option>
					<option value="47920002">물야</option>
					<option value="46890003">보길</option>
					<option value="47920001">봉화</option>
					<option value="46890010">생일</option>
					<option value="47920004">석포</option>
					<option value="46890007">소안</option>
					<option value="47920005">소천</option>
					<option value="46890002">약산</option>
					<option value="46800002">연지</option>
					<option value="43800003">영춘</option>
					<option value="47900001">예천</option>
					<option value="48220001">욕지</option>
					<option value="47900004">용궁</option>
					<option value="47900002">용문</option>
					<option value="46800001">용전</option>
					<option value="46890005">용항</option>
					<option value="46900004">육동</option>
					<option value="48310004">일운</option>
					<option value="47920006">재산</option>
					<option value="43800005">적성</option>
					<option value="47900005">지보</option>
					<option value="46890006">청산</option>
					<option value="46900002">청용</option>
					<option value="47920003">춘양</option>
					<option value="47900006">풍양</option>
					<option value="46860001">함평</option>
					<option value="46900006">회동</option>
				</select>

				<select style="width: 99px; display:none;" class="Sub02WinfoWeekListsJungsu5 _select_sub">
					<option value="47920005">고선천(소천)</option>
					<option value="46800001">고읍천(용전)</option>
					<option value="46900005">관메제(관매도)</option>
					<option value="46900002">구계제(청룡)</option>
					<option value="46890006">국화제(청산)</option>
					<option value="47900002">금곡천(용문)</option>
					<option value="47900004">금천(용궁)</option>
					<option value="47900005">낙동강(지보)</option>
					<option value="47900006">낙동강(풍양)</option>
					<option value="46900003">남동제(남동)</option>
					<option value="43800001">남한강(단양)</option>
					<option value="47900003">내성천(감천)</option>
					<option value="47900007">내성천(개포)</option>
					<option value="47920002">내성천(물야)</option>
					<option value="47920001">내성천(봉화)</option>
					<option value="46890009">넙도제(넙도)</option>
					<option value="46890001">대야제(대야)</option>
					<option value="48240001">덕천강(곤명)</option>
					<option value="46890003">부황제(보길)</option>
					<option value="46890007">비라제(소안</option>
					<option value="47920004">석포천(석포)</option>
					<option value="48310004">소동저수지(일운)</option>
					<option value="46800002">신월천(연지)</option>
					<option value="46890010">용출제(생일)</option>
					<option value="46890005">용항제(용항)</option>
					<option value="47920003">운곡천(춘양)</option>
					<option value="46900004">육동제(육동)</option>
					<option value="46890008">육산제(금당)</option>
					<option value="41480001">임진강(문산)</option>
					<option value="46170001">지하수(다시)</option>
					<option value="43800003">지하수(영춘)</option>
					<option value="43800005">지하수(적성)</option>
					<option value="46890004">척치제(금일)</option>
					<option value="41610001">팔당댐(광주)</option>
					<option value="47900001">한천(예천)</option>
					<option value="41250001">한탄강(동두천)</option>
					<option value="46860001">함평천(함평)</option>
					<option value="46890002">해동제(약산)</option>
					<option value="47920006">현동천(재산)</option>
					<option value="48220001">호소수(욕지)</option>
					<option value="47830001">화천(고령)</option>
					<option value="46900001">회동제(동외)</option>
					<option value="46900006">회동제(회동)</option>
				</select>
			</div>


		</div>
	</li>
	<li>
		<div class="select_label"><span>일자</span></div>
		<div class="select_area">
			<input type="text" id="datepicker_1" class="datepicker Sub02WinfoWeekListDatepicker" style="width: 99px">
			<span class="date_divide"> ~ </span>
			<input type="text" id="datepicker_2" class="datepicker Sub02WinfoWeekListDatepicker" style="width: 99px">
		</div>
	</li>
	<li>
		<div class="select_label"><span>검색</span></div>
		<div class="select_area">
			<a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span
				class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>
</ul>