<ul class="search_form_list">
	<li>
		<div class="select_label"><span>용수공급전망</span></div>
		<div class="select_area">
			<select class="Sub01YongsuSupplySelect">
				<option value="s_mid=1323&amp;damcode=1012110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">소양강댐</option>
				<option value="s_mid=1323&amp;damcode=1003110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">충주댐</option>
				<option value="s_mid=1323&amp;damcode=1006110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">횡성댐</option>
				<option value="s_mid=1323&amp;damcode=2001110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">안동댐</option>
				<option value="s_mid=1323&amp;damcode=2002110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">임하댐</option>
				<option value="s_mid=1323&amp;damcode=2015110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">합천댐</option>
				<option value="s_mid=1323&amp;damcode=2021110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">밀양댐</option>
				<option value="s_mid=1323&amp;damcode=2008101&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">군위댐</option>
				<option value="s_mid=1323&amp;damcode=2010101&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">김천부항댐</option>
				<option value="s_mid=1323&amp;damcode=3001110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">용담댐</option>
				<option value="s_mid=1323&amp;damcode=3008110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">대청댐</option>
				<option value="s_mid=1323&amp;damcode=4007110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">주암댐</option>
				<option value="s_mid=1323&amp;damcode=3303110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">부안댐</option>
				<option value="s_mid=1323&amp;damcode=3203110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">보령댐</option>
				<option value="s_mid=1323&amp;damcode=5101110&amp;seq=1408&amp;p_group_seq=1407&amp;menu_mode=3">장흥댐</option>								
			</select>
		</div>
	</li>
	<li>
		<div class="select_label"><span>검색</span></div>
		<div class="select_area">
			<a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>
</ul>


