<ul class="search_form_list">
	<li>
		<div class="select_label"><span>구분</span></div>
		<div class="select_area">
			<select style="width: 99px;margin-right: 12px" class="Sub02RinfoOfficecode">
				<option value="x001">수도권</option>
				<option value="x002">강원도</option>
				<option value="x003">충청</option>
				<option value="x006">대구경북</option>
				<option value="x004">전북</option>
				<option value="x007">경남부산</option>
				<option value="x005">광주전남</option>
			</select>
			<select style="width: 99px" class="Sub02RinfoWaterType">
				<option value="A">원수</option>
				<option value="B">생활용수</option>
				<option value="C">공업용수</option>
				<option value="D">공급과정</option>
				<option value="E">음용아파트</option>
			</select>
		</div>
	</li>
	<li>
		<div class="select_label"><span>검색</span></div>
		<div class="select_area">
			<a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span
				class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>
</ul>
