<ul class="search_form_list">
	<li>
		<div class="select_label"><span>시설</span></div>
		<div class="select_area">
			<select style="width: 99px;margin-right: 12px" class="realtime_dam_type_sub1 _select_main">
				<option>다목적댐</option>
				<option>용수댐</option>
				<option>다기능보</option>
				<option>홍수조절용댐</option>
				<option>홍수조절지</option>
			</select>
			<select style="width: 99px" class="realtime_dam_type_sub2 _select_sub">
				<option value="1012110">소양강댐</option>
				<option value="1003110">충주댐</option>
				<option value="1006110">횡성댐</option>
				<option value="2001110">안동댐</option>
				<option value="2002110">임하댐</option>
				<option value="2015110">합천댐</option>
				<option value="2018110">남강댐</option>
				<option value="2021110">밀양댐</option>
				<option value="2008101">군위댐</option>
				<option value="3008110">대청댐</option>
				<option value="3001110">용담댐</option>
				<option value="4001110">섬진강댐</option>
				<option value="4007110">주암댐</option>
				<option value="3303110">부안댐</option>
				<option value="3203110">보령댐</option>
				<option value="5101110">장흥댐</option>
				<option value="2022510">낙동강하굿둑</option>
				<option value="2010101">김천부항댐</option>
				<option value="2004101">영주댐</option>
				<option value="2002111">성덕댐</option>
				<option value="2012101">보현산댐</option>
			</select>
			<select style="width: 99px; display:none;" class="realtime_dam_type_sub2 _select_sub">
				<option value="1001210">광동댐</option>
				<option value="1302210">달방댐</option>
				<option value="2012210">영천댐</option>
				<option value="2101210">안계댐</option>
				<option value="2403201">감포댐</option>
				<option value="2021210">운문댐</option>
				<option value="2201231">대곡댐</option>
				<option value="2201220">사연댐</option>
				<option value="2201230">대암댐</option>
				<option value="2301210">선암댐</option>
				<option value="2503210">연초댐</option>
				<option value="2503220">구천댐</option>
				<option value="4105210">수어댐</option>
				<option value="5002201">평림댐</option>
			</select>
			<select style="width: 99px; display:none;" class="realtime_dam_type_sub2 _select_sub">
				<option value="1007603">이포보</option>
				<option value="1007602">여주보</option>
				<option value="1007601">강천보</option>
				<option value="2017601">창녕·함안보</option>
				<option value="2014602">합천·창녕보</option>
				<option value="2014601">달성보</option>
				<option value="2011602">강정고령보</option>
				<option value="2011601">칠곡보</option>
				<option value="2009602">구미보</option>
				<option value="2009601">낙단보</option>
				<option value="2007601">상주보</option>
				<option value="3012602">백제보</option>
				<option value="3012601">공주보</option>
				<option value="3010601">세종보</option>
				<option value="5004602">죽산보</option>
				<option value="5004601">승촌보</option>
			</select>
			<select style="width: 99px; display:none;" class="realtime_dam_type_sub2 _select_sub">
				<option value="1009710">평화의댐</option>
				<option value="1022701">한탄강댐</option>
				<option value="1021701">군남댐</option>
			</select>
			<select style="width: 99px; display:none;" class="realtime_dam_type_sub2 _select_sub">
				<option value="5001701">담양홍수조절지</option>
				<option value="5003701">화순홍수조절지</option>
				<option value="1007701">여주저류지</option>
			</select>
		</div>
	</li>
	<li>
		<div class="select_label"><span>일자</span></div>
		<div class="select_area">
			<input type="text" id="datepicker_1" class="datepicker" style="width: 99px"><span class="date_divide"> ~ </span><input type="text" id="datepicker_2" class="datepicker" style="width: 99px">
		</div>
	</li>
	<li>
		<div class="select_label"><span>구분</span></div>
		<div class="select_area">
			<select style="width: 99px;margin-right: 12px" id="sCode" name="sCode">
				<option value="C">10분별</option>
				<option value="A">시간별</option>
				<option value="B">일자별</option>
			</select><a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span
				class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>
</ul>