<ul class="search_form_list">
		<li>
			<div class="select_label"><span>시설</span></div>
			<div class="select_area">
				<select title="시간 선택" style="width: 100px;" class="Sub02VersDamcd _select_main">
					<option value="2022510" selected="selected">낙동강하굿둑</option>
					<option value="2018110">남강댐</option>
					<option value="3008110">대청댐</option>
					<option value="2021110">밀양댐</option>
					<option value="3203110">보령댐</option>
					<option value="3303110">부안댐</option>
					<option value="4001110">섬진강댐</option>
					<option value="1012110">소양강댐</option>
					<option value="2001110">안동댐</option>
					<option value="3001110">용담댐</option>
					<option value="2002110">임하댐</option>
					<option value="5101110">장흥댐</option>
					<option value="4007110">주암댐</option>
					<option value="1003110">충주댐</option>
					<option value="2015110">합천댐</option>
					<option value="1006110">횡성댐</option>
				</select>

				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px;">
					<option value="2022B30">낙동강하구언1</option>
					<option value="2022B20">낙동강하구언2</option>
					<option value="2022B10">낙동강하구언3</option>
					<option value="damAvg">댐평균</option>
				</select>
				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="2018B30">남강댐1</option>
					<option value="2018B20">남강댐2</option>
					<option value="2018B10">남강댐3</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="3008B60">대청댐2</option>
					<option value="3008B50">대청댐3</option>
					<option value="3008B10">대청댐4</option>
					<option value="3008B30">대청댐5</option>
					<option value="3008B20">대청댐6</option>
					<option value="3008A10">옥천천</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="2021B40">밀양댐1</option>
					<option value="2021B30">밀양댐2</option>
					<option value="2021A30">배내골</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="3203B20">보령댐1</option>
					<option value="3203B30">보령댐2</option>
					<option value="3203B10">보령댐3</option>
					<option value="3203A30">웅천천1</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="3303A10">백천내</option>
					<option value="3303B20">부안댐2</option>
					<option value="3303B10">부안댐3</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="4001B30">섬진강댐1</option>
					<option value="4001B20">섬진강댐2</option>
					<option value="4001B10">섬진강댐3</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="1012B40">소양강댐1</option>
					<option value="1012B35">소양강댐2</option>
					<option value="1012B30">소양강댐3</option>
					<option value="1012B10">소양강댐4</option>
					<option value="1012B20">소양강댐5</option>
					<option value="damAvg">댐평균</option>
				</select>
		 		<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="2001B30">안동댐1</option>
					<option value="2001B20">안동댐2</option>
					<option value="2001B10">안동댐3</option>
					<option value="damAvg">댐평균</option>
				</select>
				 <select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="3001B40">용담댐1</option>
					<option value="3001B30">용담댐2</option>
					<option value="3001B20">용담댐3</option>
					<option value="3001B10">용담댐4</option>
					<option value="3001A20">진안천</option>
					<option value="damAvg">댐평균</option>
				</select>
		 <select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
				 <option value="2002A40">반변천2</option>
				 <option value="2002A30">용전천1</option>
				 <option value="2002B20">임하댐1</option>
				 <option value="2002B10">임하댐2</option>
				 <option value="2002B30">임하댐3</option>
				 <option value="damAvg">댐평균</option>
				</select>
				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="5101A30">옴천천</option>
					<option value="5101A20">유치천</option>
					<option value="5101B10">장흥댐1</option>
					<option value="5101B20">장흥댐2</option>
					<option value="5101B30">장흥댐3</option>
					<option value="5101B40">장흥댐4</option>
					<option value="5101A10">탐진강1-1</option>
					<option value="damAvg">댐평균</option>
				</select>
				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="4007A35">동복천2</option>
					<option value="4007A10">보성강</option>
					<option value="4007B40">주암호2</option>
					<option value="4007B30">주암호3</option>
					<option value="damAvg">댐평균</option>
				</select>
				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="1003A40">매포천</option>
					<option value="1003B20">충주댐2</option>
					<option value="1003B30">충주댐3</option>
					<option value="1003B10">충주댐4</option>
					<option value="damAvg">댐평균</option>
				</select>
				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="2015A70">가천</option>
					<option value="2015B30">합천댐1</option>
					<option value="2015B20">합천댐2</option>
					<option value="2015B10">합천댐3</option>
					<option value="damAvg">댐평균</option>
				</select>
				<select id="wqncd" name="wqncd" title="세부 댐 선택" class="Sub02VersWqncd _select_sub" style="width:100px; display:none">
					<option value="1006A10">유동천2</option>
					<option value="1006B30">횡성댐1</option>
					<option value="1006B20">횡성댐2</option>
					<option value="1006B10">횡성댐3</option>
					<option value="damAvg">댐평균</option>
				</select>
			</div>
	</li>
	<li>
		<div class="select_label"><span>연도</span></div>
		<div class="select_area">
			<select title="시간 선택" style="width: 100px;" class="Sub02VersYear">
				<option value="2016" selected="selected">
					2016
				</option>
				<option value="2015">
					2015
				</option>
				<option value="2014">
					2014
				</option>
				<option value="2013">
					2013
				</option>
				<option value="2012">
					2012
				</option>
				<option value="2011">
					2011
				</option>
				<option value="2010">
					2010
				</option>
				<option value="2009">
					2009
				</option>
				<option value="2008">
					2008
				</option>
				<option value="2007">
					2007
				</option>
				<option value="2006">
					2006
				</option>
				<option value="2005">
					2005
				</option>
				<option value="2004">
					2004
				</option>
				<option value="2003">
					2003
				</option>
				<option value="2002">
					2002
				</option>
			</select>
			<a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>
</ul>