<ul class="search_form_list">
	<li>
		<div class="select_label"><span>일자</span></div>
		<div class="select_area">
			<input type="text" id="datepicker_1" class="datepicker Sub01SihwaDatepicker" style="width: 99px">
			<span class="date_divide"> ~ </span>
			<input type="text" id="datepicker_2" class="datepicker Sub01SihwaDatepicker" style="width: 99px">
		</div>
	</li>
	<li>
		<div class="select_label"><span>검색</span></div>
		<div class="select_area">
			<a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>
</ul>