<ul class="search_form_list">
	<li>
		<div class="select_label"><span>시설</span></div>
		<div class="select_area">
			<select style="width: 99px;margin-right: 12px" id="realtime_dam_type_sub1" class="_select_main">
				<option>다목적댐</option>
				<option>용수댐</option>
			</select>
			<select style="width: 99px" class="realtime_dam_type_sub2 Sub01RainDamType _select_sub">
				<option value="1012110">소양강댐</option>
				<option value="1003110">충주댐</option>
				<option value="1006110">횡성댐</option>
				<option value="2001110">안동댐</option>
				<option value="2002110">임하댐</option>
				<option value="2015110">합천댐</option>
				<option value="2018110">남강댐</option>
				<option value="2021110">밀양댐</option>
				<option value="2008101">군위댐</option>
				<option value="3008110">대청댐</option>
				<option value="3001110">용담댐</option>
				<option value="4001110">섬진강댐</option>
				<option value="4007110">주암댐</option>
				<option value="3303110">부안댐</option>
				<option value="3203110">보령댐</option>
				<option value="5101110">장흥댐</option>
				<option value="2022510">낙동강하굿둑</option>
				<option value="2010101">김천부항댐</option>
				<option value="2004101">영주댐</option>
				<option value="2002111">성덕댐</option>
				<option value="2012101">보현산댐</option>
			</select>
			<select style="width: 99px; display:none;" class="realtime_dam_type_sub2 Sub01RainDamType _select_sub">
				<option value="1001210">광동댐</option>
				<option value="1302210">달방댐</option>
				<option value="2012210">영천댐</option>
				<option value="2101210">안계댐</option>
				<option value="2403201">감포댐</option>
				<option value="2021210">운문댐</option>
				<option value="2201231">대곡댐</option>
				<option value="2201220">사연댐</option>
				<option value="2201230">대암댐</option>
				<option value="2301210">선암댐</option>
				<option value="2503210">연초댐</option>
				<option value="2503220">구천댐</option>
				<option value="4105210">수어댐</option>
				<option value="5002201">평림댐</option>
			</select>
		</div>
	</li>
	<li>
		<div class="select_label"><span>일자</span></div>
		<div class="select_area">
			<input type="text" id="datepicker_1" class="datepicker Sub01RainDatepicker" style="width: 99px">
			<select title="시간 선택" style="width: 40px;" class="Sub01RainDatetime">
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
			</select>시
		</div>
	</li>
	<li>
		<div class="select_label"><span>구분</span></div>
		<div class="select_area">
			<select style="width: 99px;margin-right: 12px" class="Sub01RainsCode">
				<option value="A">우량관측소</option>
				<option value="C">수위관측소</option>
			</select>
			<!--<select style="width: 70px;margin-right: 12px" class="Sub01RainsType">-->
				<!--<option value="C">시간별</option>-->
			<!--</select>-->
			<a href="#" class="btn btn_blue btn_search _btn_realtime_search">검색<span
				class="sprite sprite_common icon_search_white"></span></a>
		</div>
	</li>

</ul>