<div class="dim_block">
	<div class="dialog">
		<div class="title">이슈리포트</div>
		<div class="area_text">
			<p class="text">이슈리포트는 PDF 파일을 <br> 다운로드 하신 후 열람 가능합니다. <br> 파일을 다운로드 하시겠습니까?</p>
		</div>
		<div class="btn_area">
			<a href="{{href}}" class="btn btn_blue _popup_close">확인</a><a href="#" class="btn _popup_close">취소</a>
		</div>
	</div>
</div>