
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">나의 물이야기</h2>
		<a href="#" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents">
		<div class="grid_inner">
			<!--  가로형 이미지 리스트 (텍스트 영역 3줄) -->
			<ul class="wa_thumbnail_horz_list col3">
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_34.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">중국과 몽골의 사막지대, 황하중류</p>
							<p class="list_txt">황사란 중국과 몽골의 사막지대, 황하중류의 황토지대에 저기압이 통과할 때 다량의 황색</p>
							<ul class="by">
								<li>등록자 : 홍길동</li>
								<li>등록일 : 2016.10.10</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_35.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">경칩의 문턱을 넘으니 한 낮 햇살이</p>
							<p class="list_txt">춘삼월의 경계가 이렇게 살뜰하게 겨울과 봄을 갈라놓은 것인지 몸이 먼저 느끼고</p>
							<ul class="by">
								<li>등록자 : 홍길동</li>
								<li>등록일 : 2016.10.10</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_36.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">'흙비'라는 예쁜 우리말 이름을 붙</p>
							<p class="list_txt">봄꽃이 꽃망울을 터트려 그 화사한 자태를 구경하느라 한창 분주한 시기에 중국에서</p>
							<ul class="by">
								<li>등록자 : 홍길동</li>
								<li>등록일 : 2016.10.10</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="list_img">
							<img src="../../images/temp/img_thumb_37.jpg" alt="">
						</div>
						<div class="list_info">
							<p class="list_title">저기압과 고기압. 저기압은 비가</p>
							<p class="list_txt">인상을 찌푸리며 투덜투덜 들어오는 친구를 보면서 ‘오늘 왜 그렇게 저기압이야?‘하고 </p>
							<ul class="by">
								<li>등록자 : 홍길동</li>
								<li>등록일 : 2016.10.10</li>
							</ul>
						</div>
					</a>
				</li>
			</ul> <!-- //가로형 이미지 리스트 (텍스트 영역 3줄) -->
		</div>
	</div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">이슈리포트</h2>
		<a href="#" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents">
		<div class="grid_inner">
			<!--  갤러리 리스트 -->
			<ul class="gallery_list">
				<li>
					<h3 class="gallery_title">자연</h3>
					<!-- 세로형 이미지 리스트 (텍스트 영역 1줄) -->
					<ul class="wa_thumbnail_vert_list">
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_34.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_35.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
					</ul> <!-- //세로형 이미지 리스트 (텍스트 영역 1줄) -->
				</li>
				<li>
					<h3 class="gallery_title">레져</h3>
					<!-- 세로형 이미지 리스트 (텍스트 영역 1줄) -->
					<ul class="wa_thumbnail_vert_list">
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_34.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_35.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
					</ul> <!-- //세로형 이미지 리스트 (텍스트 영역 1줄) -->
				</li>
				<li>
					<h3 class="gallery_title">생활</h3>
					<!-- 세로형 이미지 리스트 (텍스트 영역 1줄) -->
					<ul class="wa_thumbnail_vert_list">
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_34.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_35.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
					</ul> <!-- //세로형 이미지 리스트 (텍스트 영역 1줄) -->
				</li>
				<li>
					<h3 class="gallery_title">시설</h3>
					<!-- 세로형 이미지 리스트 (텍스트 영역 1줄) -->
					<ul class="wa_thumbnail_vert_list">
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_34.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="list_img">
									<img src="../../images/temp/img_thumb_35.jpg" alt="">
								</div>
								<p class="list_title">2013년 물사랑 공모전 입상</p>
							</a>
						</li>
					</ul> <!-- //세로형 이미지 리스트 (텍스트 영역 1줄) -->
				</li>
			</ul> <!-- //갤러리 리스트 -->
		</div>
	</div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">물 행사/일정</h2>
		<a href="#" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents">
		<h3 class="sub_title">오늘의 행사/일정 ({{nowDate}})</h3>
		<div class="table last_align_center">
			<table>
				<caption></caption>
				<colgroup>
					<col class="col_01">
					<col class="col_02">
					<col class="col_03">
				</colgroup>
				<thead>
				<tr>
					<th scope="col">행사기간</th>
					<th scope="col">행사명</th>
					<th scope="col">장소</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>2016-10-31~<br>
						2016-11-02</td>
					<td class="subject">2016년 한국기상학회 정기총회 및
						가을학술대회</td>
					<td>부산 벡스코</td>
				</tr>
				<tr>
					<td>2016-10-31~<br>
						2016-11-02</td>
					<td class="subject">2016년 한국기상학회 정기총회 및
						가을학술대회</td>
					<td>부산 벡스코</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="event_calendar">
			<div class="_datepicker_opened"></div>
		</div>
	</div>
</div>
<!-- //area_contents -->
<!-- area_contents -->
<div class="area_contents">
	<div class="box_header">
		<h2 class="contents_title">기술 SW 커뮤니티</h2>
		<a href="#" class="btn">더보기 <span class="sprite sprite_common right_sprite icon_more"></span></a>
	</div>
	<div class="box_contents none_top_bottom_padding">
		<div class="grid_inner">
			<!-- 가로형 텍스트 리스트 -->
			<ul class="wa_text_list">
				<li>
					<a href="#">
						<p class="list_title">[행사] 2017 International SWAT Conference</p>
						<ul class="list_txt">
							<li class="date">2016.09.07</li>
							<li class="by">공지사항</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<p class="list_title">[지식공유] SWAT_MDOFLOW_RT3D 연계분석</p>
						<ul class="list_txt">
							<li class="date">2016.09.07</li>
							<li class="by">게시판</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<p class="list_title">[DATA] 정밀토양도, 개략토양도 Usersoil</p>
						<ul class="list_txt">
							<li class="date">2016.09.07</li>
							<li class="by">자료실</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<p class="list_title">[동영상] SWAT 프로그램의 파일 및 폴더에 대한</p>
						<ul class="list_txt">
							<li class="date">2016.09.07</li>
							<li class="by">자료실</li>
						</ul>
					</a>
				</li>
				<li>
					<a href="#">
						<p class="list_title">[매뉴얼] ArcSWAT 한글사용자 메뉴얼</p>
						<ul class="list_txt">
							<li class="date">2016.09.07</li>
							<li class="by">프로그램</li>
						</ul>
					</a>
				</li>
			</ul> <!-- //가로형 텍스트 리스트 -->
		</div>
	</div>
</div>
<!-- //area_contents -->
    