<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">{{sTitle}}</h1>
				<button type="button" class="btn_popup_close _popup_close"><span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents">
				<div class="box_inner">
					<img src="//www.water.or.kr/{{sLink}}" alt="">
				</div>
			</div>
		</div>
	</div>
</div>