<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">실시간</h1>
				<button type="button" class="btn_popup_close _popup_close">
					<span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents">
				<div class="area_contents">
					<!-- box contents -->
					<div class="box_contents" id="">
						<div class="real_time_search">
							<div class="tap">
								<ul class="clearfix">
									<li class="active col-xs-4" data-tab="#tab01">
										<a href="#">댐/보</a>
									</li>
									<li class="col-xs-4" data-tab="#tab02">
										<a href="#">상수도</a>
									</li>
									<li class="col-xs-4" data-tab="#tab03">
										<a href="#">하수도</a>
									</li>
								</ul>
							</div>
							<div class="area_box">
								<div class="real_time_search_form">
									<ul class="search_form_list search_form_list_first">
										<li>
											<div class="select_label"><span>댐/보별 자료(수문)</span></div>
											<div class="select_area">
												<select class="select_blue _btn_realtime_dam_type" name="realtime_dam_type" style="width: 118px">
													<option value="sub01/hydr.do" data-type="dam">댐/보별자료(수문)</option>
													<option value="sub01/rain.do" data-type="date">댐/보별자료(우량)</option>
													<option value="sub01/vers.do" data-type="date">다목적댐 관리현황</option>
													<option value="sub01/wate.do" data-type="time">용수댐 관리현황</option>
													<option value="sub01/mult.do" data-type="time">다기능보 관리현황</option>
													<option value="sub01/sihwa.do" data-type="time">시화호 수문자료</option>
													<option value="sub01/yongsuSupply.do" data-type="time">용수공급전망</option>
													<option value="sub02/vers.do" data-type="time">다목적댐 수질정보</option>
													<option value="sub02/mult.do" data-type="time">다기능보 수질정보</option>
												</select>
												<a href="#" class="btn_question"><span class="sprite sprite_common icon_round_question">정보</span></a>
											</div>
										</li>
									</ul>
									<div id="pannel_realtime_pop">

									</div>
								</div>


							</div>


						</div>
					</div>
				</div> <!-- //box contents -->
			</div>
		</div>
	</div>
</div>