<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">CCTV 영상보기</h1>
				<button type="button" class="btn_popup_close _popup_close _popup_cctv_close"><span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<style>
				.popup_contents {
					background-color: #000;
					padding:20px 0;
				}
				img {
					width:100%;
					margin: 0 auto;
					display: none;
				}
			</style>
			<div class="popup_contents _popup_cctv">
				<img src="#" />
			</div>

		</div>
	</div>
</div>