<div class="dim_block">
	<div class="wrap_popup popup_info">
		<div class="popup_inner">
			<div class="popup_header">
				<h1 class="popup_title">위치변경하기</h1>
				<button type="button" class="btn_popup_close _popup_close"><span class="sprite sprite_common icon_reveal_close">닫기</span></button>
			</div>
			<div class="popup_contents">
				<div class="box_inner">
					<div class="select_location_wrap">
						<div class="address_sel">
							<div>
								<h3>시·도 선택</h3>
								<ul id="sido_nm">
									<li class="on" name="psido_nm"><a href="#">전체</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(1, '11');">서울특별시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(2, '26');">부산광역시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(3, '27');">대구광역시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(4, '28');">인천광역시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(5, '29');">광주광역시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(6, '30');">대전광역시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(7, '31');">울산광역시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(8, '36');">세종특별자치시</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(9, '41');">경기도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(10, '42');">강원도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(11, '43');">충청북도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(12, '44');">충청남도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(13, '45');">전라북도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(14, '46');">전라남도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(15, '47');">경상북도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(16, '48');">경상남도</a></li>
										<li name="psido_nm"><a
											href="javascript: sigun_nm(17, '50');">제주특별자치도</a></li>
								</ul>
							</div>
							<div>
								<h3>군·구 선택</h3>
								<ul id="sigun_nm"></ul>
							</div>

							<div>
								<h3>지역선택</h3>
								<ul id="eupmyeondong">
									<p class="not_sel">선택 된 시·군·구 지역이<br>없습니다.</p>
								</ul>
							</div>
						</div>
						<div class="btn_wrap">
							<a href="#" class="btn btn_midium btn_blue _popup_close" onclick="submitPopData();">확인</a>
							<a href="#" class="btn btn_midium btn_gray _popup_close">취소</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>